html {
  box-sizing: border-box;
  background: linear-gradient(271deg, #6d876a, #5d2200, #000000);
  background-size: 600% 600%;

  -webkit-animation: backgroundGradient 38s ease infinite;
  -moz-animation: backgroundGradient 38s ease infinite;
  animation: backgroundGradient 38s ease infinite;
}
@-webkit-keyframes backgroundGradient {
  0%{background-position:0% 71%}
  50%{background-position:100% 30%}
  100%{background-position:0% 71%}
}
@-moz-keyframes backgroundGradient {
  0%{background-position:0% 71%}
  50%{background-position:100% 30%}
  100%{background-position:0% 71%}
}
@keyframes backgroundGradient {
  0%{background-position:0% 71%}
  50%{background-position:100% 30%}
  100%{background-position:0% 71%}
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
}
.title-text {
  font-family: 'Montserrat', sans-serif; 
  font-style: italic;
  font-size: 25px;
  color: silver;
}

.tools-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: 120px;
  height: 30px;
  background-color: black;
  color: orange;
  border: solid orange 1px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  cursor: crosshair;
}

.blink-animation {
  animation-name: blink;
  animation-duration: .4s;
}

@keyframes blink {
  0% {
    border-color: orange;
  }
  20% {
    border-color: black;
  }
  40% {
    border-color: orange;
  }
  60% {
    border-color: black;
  }
  80% {
    border-color: orange;
  }
  90% {
    border-color: black;
  }
  100% {
    border-color: orange;
  }
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.color-picker {
  border: solid orange 1px;
}

.color-picker-text {
  margin-right: 15px;
  color: orange;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.slide-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
  
.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  background: black;
  outline: none;
  border: solid orange 1px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb:hover {
  background: orange;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 25px;
  outline: solid orange 1px;
  background: black;
  opacity: 1;
  cursor: crosshair;
}

.grid-div {
  height: 600px;
  width: 600px;
  border: solid black;
  border-width: 30px 20px;
  border-radius: 3px;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair; 
}

.cell {
 box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.slider-text {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: orange;
  font-size: 15px;
}
  
 